$heading-font: 'Oswald', sans-serif;
$body-font: 'Droid Sans', sans-serif;

$black: #030303;
$white: #FEFEFE;
$lightgrey: #DDDDDD;
$grey: #A4A4A4;
$darkgrey: #757575;
$gunmetal: #393939;

$lightgreen: #A1FE33;
$lime: #2DFE55;
$green: #6DA247;

$enable-flex: true !default;
